{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-container">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Counter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Price Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-pink" aria-current="page" href="#">Try for Free</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Hero Section-->
    <div class="container-fluid hero-container d-flex">
        <div class="row align-self-center hero-text-container">
            <div class="col-6 mr-auto">
                <div class="">
                    <h1>Counter</h1>
                    <p>Online Bookkeeping perfect for Sole Traders, Freelancers, Self-employed and Small businesses</p>
                    <button class="btn btn-pink">Start Free Trial</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}